build/

*.suo
*.db

BillboardBeam/*.exe
BillboardBeam/*.dll
BillboardBeam/builds/windows/vc2019/BillboardBeam/.vs
BillboardBeam/builds/windows/vc2019/BillboardBeam/Debug/
BillboardBeam/builds/windows/vc2019/BillboardBeam/Release/
BillboardBeam/builds/windows/vc2019/BillboardBeam/BillboardBeam/Debug/
BillboardBeam/builds/windows/vc2019/BillboardBeam/BillboardBeam/Release/

FBXLoader/*.exe
FBXLoader/*.dll
FBXLoader/builds/windows/vc2019/FBXLoader/.vs
FBXLoader/builds/windows/vc2019/FBXLoader/Debug/
FBXLoader/builds/windows/vc2019/FBXLoader/Release/
FBXLoader/builds/windows/vc2019/FBXLoader/FBXLoader/Debug/
FBXLoader/builds/windows/vc2019/FBXLoader/FBXLoader/Release/

Quad/*.exe
Quad/*.dll
Quad/builds/windows/vc2019/Quad/.vs
Quad/builds/windows/vc2019/Quad/Debug/
Quad/builds/windows/vc2019/Quad/Release/
Quad/builds/windows/vc2019/Quad/Quad/Debug/
Quad/builds/windows/vc2019/Quad/Quad/Release/

Texture2DArray/*.exe
Texture2DArray/*.dll
Texture2DArray/builds/windows/vc2019/Texture2DArray/.vs
Texture2DArray/builds/windows/vc2019/Texture2DArray/Debug/
Texture2DArray/builds/windows/vc2019/Texture2DArray/Release/
Texture2DArray/builds/windows/vc2019/Texture2DArray/Texture2DArray/Debug/
Texture2DArray/builds/windows/vc2019/Texture2DArray/Texture2DArray/Release/

AdaptiveTerrainTessellation/*.exe
AdaptiveTerrainTessellation/*.dll
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/.vs
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/Debug/
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/Release/
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/AdaptiveTerrainTessellation/Debug/
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/AdaptiveTerrainTessellation/Release/

RenderTexture/*.exe
RenderTexture/*.dll
RenderTexture/builds/windows/vc2019/RenderTexture/.vs
RenderTexture/builds/windows/vc2019/RenderTexture/Debug/
RenderTexture/builds/windows/vc2019/RenderTexture/Release/
RenderTexture/builds/windows/vc2019/RenderTexture/RenderTexture/Debug/
RenderTexture/builds/windows/vc2019/RenderTexture/RenderTexture/Release/

KawaseBlur/*.exe
KawaseBlur/*.dll
KawaseBlur/builds/windows/vc2019/KawaseBlur/.vs
KawaseBlur/builds/windows/vc2019/KawaseBlur/Debug/
KawaseBlur/builds/windows/vc2019/KawaseBlur/Release/
KawaseBlur/builds/windows/vc2019/KawaseBlur/KawaseBlur/Debug/
KawaseBlur/builds/windows/vc2019/KawaseBlur/KawaseBlur/Release/

Bloom/*.exe
Bloom/*.dll
Bloom/builds/windows/vc2019/Bloom/.vs
Bloom/builds/windows/vc2019/Bloom/Debug/
Bloom/builds/windows/vc2019/Bloom/Release/
Bloom/builds/windows/vc2019/Bloom/Bloom/Debug/
Bloom/builds/windows/vc2019/Bloom/Bloom/Release/

LightStreak/*.exe
LightStreak/*.dll
LightStreak/builds/windows/vc2019/LightStreak/.vs
LightStreak/builds/windows/vc2019/LightStreak/Debug/
LightStreak/builds/windows/vc2019/LightStreak/Release/
LightStreak/builds/windows/vc2019/LightStreak/LightStreak/Debug/
LightStreak/builds/windows/vc2019/LightStreak/LightStreak/Release/

ToneMapping/*.exe
ToneMapping/*.dll
ToneMapping/builds/windows/vc2019/ToneMapping/.vs
ToneMapping/builds/windows/vc2019/ToneMapping/Debug/
ToneMapping/builds/windows/vc2019/ToneMapping/Release/
ToneMapping/builds/windows/vc2019/ToneMapping/ToneMapping/Debug/
ToneMapping/builds/windows/vc2019/ToneMapping/ToneMapping/Release/

Demo1/*.exe
Demo1/*.dll
Demo1/builds/windows/vc2019/Demo1/.vs
Demo1/builds/windows/vc2019/Demo1/Debug/
Demo1/builds/windows/vc2019/Demo1/Release/
Demo1/builds/windows/vc2019/Demo1/Demo1/Debug/
Demo1/builds/windows/vc2019/Demo1/Demo1/Release/

Dithering/*.exe
Dithering/*.dll
Dithering/builds/windows/vc2019/Dithering/.vs
Dithering/builds/windows/vc2019/Dithering/Debug/
Dithering/builds/windows/vc2019/Dithering/Release/
Dithering/builds/windows/vc2019/Dithering/Dithering/Debug/
Dithering/builds/windows/vc2019/Dithering/Dithering/Release/

RadialBlur/*.exe
RadialBlur/*.dll
RadialBlur/builds/windows/vc2019/RadialBlur/.vs
RadialBlur/builds/windows/vc2019/RadialBlur/Debug/
RadialBlur/builds/windows/vc2019/RadialBlur/Release/
RadialBlur/builds/windows/vc2019/RadialBlur/RadialBlur/Debug/
RadialBlur/builds/windows/vc2019/RadialBlur/RadialBlur/Release/

SRGBChecker/*.exe
SRGBChecker/*.dll
SRGBChecker/builds/windows/vc2019/SRGBChecker/.vs
SRGBChecker/builds/windows/vc2019/SRGBChecker/Debug/
SRGBChecker/builds/windows/vc2019/SRGBChecker/Release/
SRGBChecker/builds/windows/vc2019/SRGBChecker/SRGBChecker/Debug/
SRGBChecker/builds/windows/vc2019/SRGBChecker/SRGBChecker/Release/

*.opendb

external/libpng/lpng1622/pnglibconf.h
external/libpng/lpng1622/projects/vstudio/Debug Library/
external/libpng/lpng1622/projects/vstudio/libpng/Debug Library/
external/libpng/lpng1622/projects/vstudio/libpng/Release Library/
external/libpng/lpng1622/projects/vstudio/pnglibconf/Release/
external/libpng/lpng1622/projects/vstudio/pngstest/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngstest/Release Library/
external/libpng/lpng1622/projects/vstudio/pngtest/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngtest/Release Library/
external/libpng/lpng1622/projects/vstudio/pngunknown/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngunknown/Release Library/
external/libpng/lpng1622/projects/vstudio/pngvalid/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngvalid/Release Library/
external/libpng/lpng1622/projects/vstudio/Release Library/
external/libpng/lpng1622/projects/vstudio/zlib/Debug Library/
external/libpng/lpng1622/projects/vstudio/zlib/Release Library/
