*.suo
*.db
BillboardBeam/builds/windows/vc2015/BillboardBeam/BillboardBeam/Debug/
BillboardBeam/builds/windows/vc2015/BillboardBeam/BillboardBeam/Release/
BillboardBeam/builds/windows/vc2015/BillboardBeam/Debug/
BillboardBeam/builds/windows/vc2015/BillboardBeam/Release/
FBXLoader/builds/windows/vc2015/FBXLoader/Debug/
FBXLoader/builds/windows/vc2015/FBXLoader/FBXLoader/Debug/arcball.obj
FBXLoader/builds/windows/vc2015/FBXLoader/FBXLoader/Debug/
FBXLoader/builds/windows/vc2015/FBXLoader/FBXLoader/Release/
FBXLoader/builds/windows/vc2015/FBXLoader/Release/
Quad/builds/windows/vc2015/Quad/Debug/
Quad/builds/windows/vc2015/Quad/Quad/Debug/
Quad/builds/windows/vc2015/Quad/Quad/Release/
Quad/builds/windows/vc2015/Quad/Release/
Texture2DArray/builds/windows/vc2015/Texture2DArray/Debug/
Texture2DArray/builds/windows/vc2015/Texture2DArray/Release/
Texture2DArray/builds/windows/vc2015/Texture2DArray/Texture2DArray/Debug/
Texture2DArray/builds/windows/vc2015/Texture2DArray/Texture2DArray/Release/
*.opendb
AdaptiveTerrainTessellation/builds/windows/vc2015/AdaptiveTerrainTessellation/AdaptiveTerrainTessellation/Release/
AdaptiveTerrainTessellation/builds/windows/vc2015/AdaptiveTerrainTessellation/Release/
external/libpng/lpng1622/pnglibconf.h
external/libpng/lpng1622/projects/vstudio/Debug Library/
external/libpng/lpng1622/projects/vstudio/libpng/Debug Library/
external/libpng/lpng1622/projects/vstudio/libpng/Release Library/
external/libpng/lpng1622/projects/vstudio/pnglibconf/Release/
external/libpng/lpng1622/projects/vstudio/pngstest/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngstest/Release Library/
external/libpng/lpng1622/projects/vstudio/pngtest/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngtest/Release Library/
external/libpng/lpng1622/projects/vstudio/pngunknown/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngunknown/Release Library/
external/libpng/lpng1622/projects/vstudio/pngvalid/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngvalid/Release Library/
external/libpng/lpng1622/projects/vstudio/Release Library/
external/libpng/lpng1622/projects/vstudio/zlib/Debug Library/
external/libpng/lpng1622/projects/vstudio/zlib/Release Library/
AdaptiveTerrainTessellation/builds/windows/vc2015/AdaptiveTerrainTessellation/AdaptiveTerrainTessellation/Debug/
AdaptiveTerrainTessellation/builds/windows/vc2015/AdaptiveTerrainTessellation/Debug/
