*.suo
*.db

BillboardBeam/builds/windows/vc2019/BillboardBeam/.vs
BillboardBeam/builds/windows/vc2019/BillboardBeam/Debug/
BillboardBeam/builds/windows/vc2019/BillboardBeam/Release/
BillboardBeam/builds/windows/vc2019/BillboardBeam/BillboardBeam/Debug/
BillboardBeam/builds/windows/vc2019/BillboardBeam/BillboardBeam/Release/

FBXLoader/builds/windows/vc2019/FBXLoader/.vs
FBXLoader/builds/windows/vc2019/FBXLoader/Debug/
FBXLoader/builds/windows/vc2019/FBXLoader/Release/
FBXLoader/builds/windows/vc2019/FBXLoader/FBXLoader/Debug/
FBXLoader/builds/windows/vc2019/FBXLoader/FBXLoader/Release/

Quad/builds/windows/vc2019/Quad/.vs
Quad/builds/windows/vc2019/Quad/Debug/
Quad/builds/windows/vc2019/Quad/Release/
Quad/builds/windows/vc2019/Quad/Quad/Debug/
Quad/builds/windows/vc2019/Quad/Quad/Release/

Texture2DArray/builds/windows/vc2019/Texture2DArray/.vs
Texture2DArray/builds/windows/vc2019/Texture2DArray/Debug/
Texture2DArray/builds/windows/vc2019/Texture2DArray/Release/
Texture2DArray/builds/windows/vc2019/Texture2DArray/Texture2DArray/Debug/
Texture2DArray/builds/windows/vc2019/Texture2DArray/Texture2DArray/Release/

AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/.vs
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/Debug/
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/Release/
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/AdaptiveTerrainTessellation/Debug/
AdaptiveTerrainTessellation/builds/windows/vc2019/AdaptiveTerrainTessellation/AdaptiveTerrainTessellation/Release/

*.opendb

external/libpng/lpng1622/pnglibconf.h
external/libpng/lpng1622/projects/vstudio/Debug Library/
external/libpng/lpng1622/projects/vstudio/libpng/Debug Library/
external/libpng/lpng1622/projects/vstudio/libpng/Release Library/
external/libpng/lpng1622/projects/vstudio/pnglibconf/Release/
external/libpng/lpng1622/projects/vstudio/pngstest/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngstest/Release Library/
external/libpng/lpng1622/projects/vstudio/pngtest/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngtest/Release Library/
external/libpng/lpng1622/projects/vstudio/pngunknown/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngunknown/Release Library/
external/libpng/lpng1622/projects/vstudio/pngvalid/Debug Library/
external/libpng/lpng1622/projects/vstudio/pngvalid/Release Library/
external/libpng/lpng1622/projects/vstudio/Release Library/
external/libpng/lpng1622/projects/vstudio/zlib/Debug Library/
external/libpng/lpng1622/projects/vstudio/zlib/Release Library/
